body{
    
    font-family: 'raleway', sans-serif;
    margin: 0;
    }
    
/*HEADER*/
header{
    display: flex;
    justify-content: flex-end;
    height: 4rem;
    padding: 0 1rem O 1rem;
}

.hebergements{
    margin-right: 1rem;
}

.activites{
    margin-left: 1rem;
    margin-right: 1rem;
}

.inscriptions{
    margin-left: 1rem;

}

header div img{
    height: 2rem;
    position: absolute;
    left: 0;
}

@media screen and (max-width:760px) {
    header{ 
        display: flex;
        justify-content: space-around;
        height: 4rem;
        padding: 0 1rem O 1rem;
        
    }

   
}    





